body
{
background-color:#fafafc;
font-family:Arial,sans-serif;
}


h1,h2,h3,h4
{
font-family:Arial,sans-serif;
color:#A02000;
text-align:center;
margin-left: 0.5em;
}

hr
{
color:#A02000;
}

table
{
font-family:Arial,sans-serif;
}

p
{
margin-left:5pt;
margin-right:5pt;
}

p.revisions
{
font-size:0.66em;
margin:0.5em 1.5em;
padding:0em;
}


table
{
margin-left:15pt;
margin-right:15pt;
margin-bottom:5pt;
}

pre
{
margin-left:1cm;
font-family:Courier New, Monospace;
font-size: 100%;
}

pre.smallcode
{
margin-left:1cm;
font-family:Courier New, Monospace;
font-size: 80%;
}

code
{
font-family:Courier New, Monospace;
font-size: 110%;
}

a:link     { color:blue; }
a:visited  { color:#A02000; }
a:active   { color:red; }
a:hover    { color:red; }

img.right
{
float:right;
margin:0px 0px 0px 5px;
}


img.left
{
float:left;
margin:0px 5px 0px 0px;
}
